html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    list-style: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

input,
button,
textarea,
select,
address {
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

body {
    font-size: 18px;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    color: #17181C;
    background-color: #F7F4F4;
}

.header {
    padding: 0 auto;
}

.header-background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

.header-top,
.footer-top {
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 16px;
}

.menu-btn {
    background-color: transparent;
    display: none;
}

.menu__list {
    display: flex;
    padding-top: 45px;
    color: rgba(255, 255, 255, 0.8);
}

.menu__list-item {
    padding-left: 25px;
}

.menu__list-link {
    transition: 0.5s;
    /* Время эффекта */
}

.menu__list-link:hover {
    /* transform: scale(1.2); */
    font-size: 24px;
}

.phone-call {
    padding-top: 32px;
}

.phone-num {
    margin-right: 12px;
    padding-top: 45px;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
}

.callback__btn {
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px 25px;
    background-color: #5BBFC8;
    border-radius: 5px;
}

.header-bottom {
    color: #fff;
    padding-top: 82px;
}

.header-title {
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
}

.title-two {
    display: block;
}

.header-content {
    color: #fff;
    display: block;
    padding-top: 20px;
    max-width: 540px;
    font-size: 18px;
    line-height: 25px;
}

.header-call {
    display: block;
    position: relative;
    background-color: #FFD200;
    max-width: 265px;
    text-align: center;
    padding: 22px 50px 22px 19px;
    border-radius: 5px;
    color: #000;
    margin-top: 41px;
    font-weight: bold;
}

.header-call::before {
    content: '';
    display: block;
    position: absolute;
    top: 17px;
    left: 215px;
    width: 33px;
    height: 33px;
    background-image: url('../img/icons/racing.svg');
    background-size: contain;
}

.mobile-repair {
    color: #000;
    padding-top: 85px;
}

.mobile-repair__inner {
    display: flex;
    justify-content: space-between;
}

.price {
    font-family: 'PT Sans', serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.block-one {
    background-image: url(../img/bg-block.png);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.block-one__inner {
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 10px;
    max-width: 412px;
    height: 288px;
    width: 100%;
    padding: 66px 24px 65px 44px;
}

.block-one__title {
    position: relative;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
}

.block-one__title::before {
    content: '';
    position: absolute;
    border-bottom: 5px solid #000;
    width: 88px;
    top: 97px;
}

.block-one__content {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding-top: 40px;
}

.block-two {
    width: 204px;
    height: 287px;
    background-color: #FFD300;
    border-radius: 10px;
    padding: 16px 0 0 17px;
}

.block-two__price {
    color: #534407;
    background-color: #DEB905;
    width: 78px;
    height: 25px;
    border-radius: 5px;
    padding-left: 8px;
}

.block-two__title {
    max-width: 123px;
    padding-top: 13px;
    position: relative;
    font-weight: 800;
    font-size: 19px;
    line-height: 25px;
}

.block-two__title::before {
    content: '';
    position: absolute;
    background-image: url(../img/icons/sedan.svg);
    width: 108px;
    height: 108px;
    top: 150px;
}

.block-three {
    width: 204px;
    height: 287px;
    background-color: #4B5257;
    border-radius: 10px;
    color: #fff;
    padding: 16px 0 0 17px;
}

.block-three__price {
    width: 78px;
    height: 25px;
    border-radius: 5px;
    padding-left: 8px;
    background-color: #B0B0B0;
}

.block-three__title {
    padding-top: 13px;
    position: relative;
    font-weight: 800;
    font-size: 19px;
    line-height: 25px;
}

.block-three__title::before {
    content: '';
    position: absolute;
    background-image: url(../img/icons/jeep.svg);
    width: 108px;
    height: 108px;
    top: 145px;
}

.block-four {
    width: 205px;
    height: 287px;
    background-color: #5BBFC8;
    border-radius: 10px;
    padding: 16px 0 0 17px;
}

.block-four__price {
    background-color: #49A1A9;
    color: #1E4D54;
    width: 78px;
    height: 25px;
    border-radius: 5px;
    padding-left: 8px;
}

.block-four__title {
    padding-top: 13px;
    position: relative;
    font-weight: 800;
    font-size: 19px;
    line-height: 25px;
}

.block-four__title::before {
    content: '';
    position: absolute;
    background-image: url(../img/icons/truck.svg);
    width: 123px;
    height: 123px;
    top: 130px;
}

.legal-entities__top {
    padding-top: 91px;
    text-align: center;
}

.legal-entities__title {
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
}

.legal-entities__content {
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
    padding-top: 10px;
}

.stock {
    width: 102px;
    height: 41px;
    background-color: #FFD300;
    border-radius: 5px;
    padding: 5px 15px;
}

.legal-entities__inner {
    display: flex;
    padding-top: 63px;
}

.legal-entities__img {
    max-width: 50%;
}

.legal-entities__list {
    padding-left: 94px;
}

.legal-entities__item {
    position: relative;
    font-weight: bold;
    font-size: 22px;
    line-height: 45px;
}

.legal-entities__item::before {
    content: '';
    position: absolute;
    border-left: 5px solid #171717;
    border-radius: 7px;
    height: 28px;
    left: -19px;
    top: 8px;
}

.form {
    display: block;
    padding-left: 96px;
    padding-top: 55px;
}

.your-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 8px;
    padding-left: 28px;
}

.form__phone {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    border: none;
    padding: 23px 109px 23px 28px;
    border-radius: 5px;
    max-width: 350px;
}

.application {
    background-color: #FFD200;
    text-align: center;
    padding: 22px 20px 22px 20px;
    border-radius: 5px;
    color: #000;
    margin-top: 41px;
    font-weight: bold;
    display: block;
    max-width: 255px;
    margin-left: 42px;
}

.advantages {
    background-image: url(../img/advantages-bg.png);
    padding-top: 94px;
    padding-bottom: 233px;
}

.advantages__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
}

.advantages__inner {
    display: flex;
    justify-content: space-around;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    padding-top: 163px;
}

.advantages__left-inner {
    padding-left: 82px;
}

.advantages__item {
    align-items: center;
    justify-content: center;
    max-width: 256px;
    margin-top: 45px;
}

.advantages__item-left {
    padding-left: 40px;
    max-width: 293px;
}

.border {
    position: absolute;
}

.border-bottom {
    margin-top: -145px;
}

.line-left-top {
    position: absolute;
    left: 320px;
    top: 18px;
}

.line-left-bottom {
    margin-left: -5px;
}

.advantages__img {
    z-index: 12;
    margin-left: -150px;
}

.advantages__right-inner {
    margin-top: -54px;
}

.advantages__item-right {
    margin-top: 50px;
    padding-top: 14px;
    padding-left: 35px;
}

.border-284-right {
    padding-left: 33px;
}

.line-right-top {
    margin-left: -177px;
    margin-top: -5px;
}

.line-right-bottom {
    margin-top: -140px;
    margin-left: -439px;
}

.mobile-service {
    background-color: #FFD300;
    padding-top: 128px;
    padding-bottom: 107px;
}

.mobile-service__images {
    position: relative;
}

.dots-left {
    position: absolute;
    top: 123px;
}

.dots-right {
    position: absolute;
    right: 0;
}

.mobile-service__title {
    text-align: center;
    display: block;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
}


/* .mobile-service__inner {
    align-items: center;
} */

.mobile-service-form__phone {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    border: none;
    padding: 23px 109px 23px 28px;
    border-radius: 5px;
    z-index: 66;
}

.mobile-service__your-phone {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-top: 50px;
    padding-right: 437px;
}

.mobile-service-form {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.mobile-service__application {
    background-color: #17181C;
    text-align: center;
    padding: 22px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    display: block;
    max-width: 255px;
    margin-left: 42px;
}

.additional-works {
    padding-top: 94px;
    padding-bottom: 118px;
}

.additional-works__title {
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
}

.additional-works__inner {
    display: flex;
    justify-content: space-around;
    padding-top: 71px;
}

.additional-works__list {
    padding-top: 115px;
}

.additional-works__item {
    list-style: disc;
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
}

.maps__inner {
    display: flex;
    color: #fff;
}

.maps__title {
    position: relative;
    font-weight: 800;
    font-size: 45px;
    width: 530px;
    line-height: 55px;
    text-transform: uppercase;
    margin-left: -222px;
}

.maps__title::before {
    content: '';
    position: absolute;
    background-image: url(../img/maps-line.svg);
    width: 7px;
    height: 155px;
    left: -60px;
}

.maps-content {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-left: -325px;
    margin-top: 30px;
}

.maps-content::before {
    position: absolute;
    content: '';
    background-image: url(../img/maps-ellipse.svg);
    width: 34px;
    height: 34px;
    left: 110px;
}

.maps-left {
    position: relative;
    background-image: url(../img/maps-bg2.png);
    width: 50vw;
    padding-left: 428px;
    padding-top: 150px;
}

.maps-right {
    width: 50vw;
}

.map-yandex {
    width: 50%;
}

.prices {
    display: block;
    padding: 93px 0;
}

.slider-wrapper {
    padding: 92px 0;
}


/*Пагинация*/

.image-slider .swiper-pagination {}


/* Буллеты */

.swiper-pagination-bullet {}

.image-slider .swiper-pagination-bullet {
    height: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    background-color: transparent;
}

.swiper-container {
    margin-top: 69px;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.slider-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
}

.swiper-pagination-bullet {
    margin-left: 12px;
    border-radius: 0;
    width: 81px;
    height: 30px;
    text-align: center;
    font-weight: 300;
    left: 75px;
}

.swiper-pagination {
    left: 75px;
}

.swiper-scrollbar-drag {
    top: -3px;
    height: 11px;
    border-radius: 50%;
    background-color: #FFD300;
    box-shadow: 0px 0px 8px 6px rgba(255, 213, 0, 0.644);
}

.swiper-scrollbar__content {
    position: absolute;
    bottom: -6px;
    left: -226px;
}

.prices__item {
    font-family: 'Manrope';
    background-color: #EBE9E9;
    margin-top: 13px;
    padding: 0px 27px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.list-prices {
    padding-top: 33px;
    font-weight: 500;
    font-size: 17px;
    line-height: 45px;
}

.item__price {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    line-height: 45px;
}

.slider-button {
    display: flex;
    justify-content: center;
    margin-top: 68px;
}

.reviews__title {
    text-transform: uppercase;
    font-size: 45px;
    line-height: 55px;
    font-weight: 800;
    text-align: center;
}

.reviews-top {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}

.reviews-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.video-content {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.video-content-right__inner {
    margin-right: 312px;
}

.video-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 255px;
    background-color: #C4C4C4;
    border-radius: 5px;
}

.video2-inner {
    padding-left: 12px;
    margin-top: 12px;
    width: 520px;
    height: 255px;
    text-align: center;
    background-color: #C4C4C4;
    border-radius: 5px;
}

.video-link {
    transition: all .5s;
}

.video-link:hover {
    transform: scale(1.2);
}

.icon-play {
    position: absolute;
    left: 22px;
    top: 18px;
}

.video__title {
    font-size: 22px;
    font-weight: 800;
}

.video__description {
    font-size: 18px;
}

.partners {
    padding: 97px 0;
}

.partners__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 45px;
}

.partners__list {
    display: flex;
    justify-content: space-between;
}

.partners-top__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
    width: 202px;
    height: 175px;
    background-color: #fff;
    border: 2px solid rgba(73, 104, 129, 0.1);
    border-radius: 10px;
}

.swiper2 {
    overflow: hidden;
    margin-top: 42px;
}

.swiper-arrows {
    display: flex;
    justify-content: end;
    z-index: 33;
}

.swiper-button-prev {
    background-color: #fff;
    border: 2px solid rgba(73, 104, 129, 0.1);
    box-shadow: 0px 4px 20px rgba(73, 104, 129, 0.1);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-top: 12px;
}

.swiper-button-next {
    background-color: #fff;
    border: 2px solid rgba(73, 104, 129, 0.1);
    box-shadow: 0px 4px 20px rgba(73, 104, 129, 0.1);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-top: 12px;
    margin-left: 5px;
}

.footer {
    position: relative;
    padding: 48px 0 15px 0;
    background-color: #17181C;
}

.footer-img {
    position: absolute;
    top: -148px;
    left: 463px;
}

.footer-top {
    color: #fff;
    display: flex;
}

.footer__list {
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.menu__footer-item {
    margin-right: 33px;
}

.footer__phone-num {
    position: relative;
    color: #FFD300;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    margin-left: 126px;
}

.footer__phone-num::before {
    content: '';
    position: absolute;
    background-image: url(../img/icons/call-phone.svg);
    width: 13px;
    height: 13px;
    left: -28px;
    top: 6px;
}

.footer-bottom {
    margin-top: 40px;
    color: #FFD200;
}

.footer-items {
    display: flex;
    justify-content: end;
}

.icon-avito {
    transition: all .5s;
}

.icon-avito:hover {
    transform: scale(1.2);
}

.icon-instagram {
    transition: all .5s;
}

.icon-instagram:hover {
    transform: scale(1.2);
}

.footer-whatsapp {
    border: 1px solid #FFD200;
    padding: 13px 20px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    transition: all .5s;
}

.footer-whatsapp:hover {
    font-size: 16px;
}

.footer-items li:not(:last-child) {
    margin-right: 27px;
}

.border-footer {
    border-top: 1px solid #fff;
    opacity: 0.4;
    margin-top: 36px;
}

.copyright {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    margin-top: 11px;
}

@media (max-width: 1200px) {
    .callback__btn {
        margin-right: 12px;
    }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}